<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.smm.mapper.dao.UserInfoDao" >

    <sql id="Base_Column_List" >
        id, user_name, sex, create_date
    </sql>

    <resultMap id="BaseResultMap" type="com.example.demo.smm.mapper.entity.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getUserInfoById" resultMap="BaseResultMap" parameterType="Long">
        select  <include refid="Base_Column_List"></include>
        from user_info
        where id = #{id}
    </select>

    <select id="getUserInfoList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select  <include refid="Base_Column_List"></include>
        from user_info
        <where>
            <if test="userName != null and userName != '' ">
              and user_name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
            </if>
            <if test="sex != null ">
                and sex = #{sex,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!-- 插入user_info 使用selectKey的方式返回自增长的主键的值-->
    <insert id="insertUserInfo"  parameterType="com.example.demo.smm.mapper.entity.UserInfo" >
        insert into user_info(
            user_name, sex, create_date
        )
        values(
            #{userName, jdbcType=VARCHAR}, #{sex, jdbcType=INTEGER}, NOW()
        )
        <selectKey keyColumn="id" resultType="Long" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <!-- sql动态插入  useGeneratedKeys="true" keyProperty="id" 和 selectKey一样都是返回插入数据的id -->
    <insert id="insertUserInfoCondition"  parameterType="com.example.demo.smm.mapper.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info(
            <trim suffixOverrides=",">
                <if test="userName != null and userName != ''">
                    user_name,
                </if>
                <if test="sex!=null">
                    sex,
                </if>
            </trim>
        )
        values(
            <trim suffixOverrides=",">
                <if test="userName != null and userName != ''">
                    #{userName, jdbcType=VARCHAR},
                </if>
                <if test="sex!=null">
                    #{sex, jdbcType=INTEGER},
                </if>
            </trim>
        )
    </insert>

</mapper>